@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

.scrollwidth::-webkit-scrollbar {
  width: 0px;
}

.scrollwidth:hover::-webkit-scrollbar {
  width: 0px;
}

.scrollwidth::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollwidth::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbardesign::-webkit-scrollbar {
  scrollbar-width: thin;
  width: 10px;
  background-color: lightgreen;
}

.scrollbardesign::-webkit-scrollbar-thumb{
  background-color: white;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

.scrollbardesign {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.storywidth {
  width: 115px !important;
}

.modal-backdrop {
  backdrop-filter: blur(5px);
}

.img-container:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
}
.img-container {
  position: relative;
}

.overdlowiny {
  overflow-y: hidden !important;
}
